@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
}
body {
  background: url("images/low-poly-blue-background.jpg");
  background-color: rgba(47, 150, 208);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

div.screen {
  margin: 0rem 0rem 3rem;
  text-align: right;
}
div.screen .history {
  color: #484848;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 400;
}
div.screen .result {
  color: #323232;
  font-size: 2.5rem;
}
div.screen .history.black {
  color: #aaa;
}
div.screen .result.black {
  color: #eee;
}

div.calculator {
  /* Note: backdrop-filter has minimal browser support */
  margin: 2rem 1rem;
  padding: 2rem;
  border-radius: 39px;
  max-width: 700px;
}
div.calculator.glass {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2),
    rgba(47, 150, 208, 0.2)
  );
  backdrop-filter: blur(1rem);
  box-shadow: 0 0 1rem rgba(5, 44, 66, 0.35),
    inset 0 0 0.2em rgba(5, 44, 66, 0.35);
}
div.calculator.white {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 1rem rgba(5, 44, 66, 0.35);
}
div.calculator.black {
  background-color: rgba(20, 20, 20, 0.95);
  box-shadow: 0 0 1rem rgba(191, 211, 223, 0.35);
}

div.calculator .buttons {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1.5em 1em;
}
button {
  color: white;
  border-radius: 1rem;
  border-style: none;
  width: 5rem;
  height: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}
button.glass {
  background-color: rgba(47, 150, 208, 0.2);
  backdrop-filter: blur(0.3rem);
  box-shadow: 0 0 1rem rgba(5, 44, 66, 0.35),
    inset 0 0 0.2em rgba(5, 44, 66, 0.35);
}
button.white {
  background-color: rgba(255, 255, 255);
  color: #1198e6;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(5, 44, 66, 0.137);
}
button.black {
  background-color: rgb(20, 20, 20);
  color: #1198e6;
  box-shadow: -0.3rem -0.3rem 0.5rem rgba(132, 204, 246, 0.137);
}
button.glass:hover {
  box-shadow: 0 0 1rem rgba(151, 216, 253, 0.749),
    inset 0 0 0.2em rgba(142, 212, 252, 0.757);
}
button.white:hover {
  box-shadow: inset 0.2rem 0.2rem 0.5rem rgba(5, 44, 66, 0.137);
}
button.black:hover {
  box-shadow: inset -0.14rem -0.14rem 0.5rem rgba(233, 244, 250, 0.137);
}

.disable-dbl-tap-zoom {
  touch-action: manipulation;
}

footer {
  margin: 0 3.5vw 3.5vh;
  align-self: flex-start;
}
a img {
  transition: 0.3s;
  width: 3.5rem;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 1rem rgba(5, 44, 66, 0.35),
    inset 0 0 0.2em rgba(5, 44, 66, 0.35);
}
a img:hover {
  margin: -0.25rem;
  box-shadow: 0 0 1rem rgba(75, 189, 255, 0.614),
    inset 0 0 0.2em rgba(59, 183, 255, 0.592);
  width: 4rem;
  height: auto;
}
