@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  transition: all 200ms ease-out;
}
body {
  background: url("images/low-poly-blue-background.jpg");
  background-color: rgba(47, 150, 208);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}
.disable-dbl-tap-zoom {
  touch-action: manipulation;
}
button,
img,
.screen .alert {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
}

.calculator {
  margin: 2rem 1rem;
  padding: 2rem;
  border-radius: 2.5rem;
  max-width: 40rem;
}
.screen {
  margin: 0rem 0rem 1.8rem;
  text-align: right;
}
.screen .history {
  height: 1.7rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 400;
}
.screen .result {
  height: 3.8rem;
  font-size: 2.5rem;
  font-weight: 500;
}
.screen .alert {
  height: 1.2rem;
  font-size: small;
  color: darkred;
  margin: 0;
}

.calculator .buttons {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1.5em 1em;
}
.calculator button {
  transition: all 200ms ease-out;
  color: white;
  border-radius: 1rem;
  border-style: none;
  min-width: 5rem;
  min-height: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}

button#ac {
  font-weight: 400;
}
/* Centering */
button#backspace,
button#multiply,
button#dot {
  display: flex;
  justify-content: center;
  align-items: center;
}
button#backspace i {
  font-size: inherit;
}
button#multiply span {
  margin-bottom: -1.1rem;
}
button#dot span {
  margin-top: -1.35rem;
}

button#equals {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 5;
}
button#num0 {
  grid-column-start: 1;
  grid-column-end: 3;
}

footer {
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.8rem;
}
footer .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a img {
  transition: all 300ms ease-out;
  width: 3.5rem;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 1rem rgba(5, 44, 66, 0.35),
    inset 0 0 0.2em rgba(5, 44, 66, 0.35);
}
footer a img:hover {
  transform: rotate(360deg) scale(1.2);
  box-shadow: 0 0 1rem rgba(75, 189, 255, 0.66),
    inset 0 0 0.4em rgba(59, 183, 255, 0.611);
}
footer .footer p {
  color: #333;
  font-size: x-small;
  margin: 0;
  padding: 0;
  text-align: center;
  flex-shrink: 0;
}

/* Theme Palette buttons */
footer .themePalette {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer .themePalette button {
  border-radius: 1.5rem;
  border-style: none;
  width: 3.8rem;
  height: 2.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.themePalette button i,
.themePalette button img {
  width: 1rem;
  height: auto;
  font-size: 1rem;
}
.themePalette button.white {
  color: #2090cc;
  border: 1px #333 solid;
}
.themePalette button.glass {
  background-color: rgba(47, 150, 208, 0.65);
  border: 1px #0e3c56 solid;
}
.themePalette button.black {
  background-color: #303136;
  border: 1px #ddd solid;
}
.themePalette button:hover {
  transform: scale(1.1);
}
.themePalette button:active {
  transform: scale(0.9);
}
.themePalette button.active:hover,
.themePalette button.active:active {
  transform: none;
}
.themePalette button.active {
  height: 3rem;
}

.sound-profile {
  margin: -2rem -1.4rem;
  width: 4rem;
  height: 4rem;
}
.sound-profile button {
  min-width: 4rem;
  min-height: 4rem;
  background-color: transparent;
  border: none;
}
.sound-profile button:hover {
  transform: scale(1.15);
}
.sound-profile button:active {
  transform: none;
}
