@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
}
body {
  background: url("images/low-poly-blue-background.jpg");
  background-color: rgba(47, 150, 208);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}
.disable-dbl-tap-zoom {
  touch-action: manipulation;
}

div.calculator {
  margin: 2rem 1rem;
  padding: 2rem;
  border-radius: 39px;
  max-width: 700px;
}
div.screen {
  margin: 0rem 0rem 3rem;
  text-align: right;
}
div.screen .history {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 400;
}
div.screen .result {
  font-size: 2.5rem;
  font-weight: 500;
}

div.calculator .buttons {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1.5em 1em;
}
button {
  color: white;
  border-radius: 1rem;
  border-style: none;
  min-width: 5rem;
  min-height: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}

button#ac {
  font-weight: 400;
}
/* Centering */
button#backspace,
button#multiply,
button#dot {
  display: flex;
  justify-content: center;
  align-items: center;
}
button#backspace i {
  font-size: inherit;
}
button#multiply span {
  margin-bottom: -1.1rem;
}
button#dot span {
  margin-top: -1.35rem;
}

button#equals {
  transition: 100ms;
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 5;
}
button#num0 {
  grid-column-start: 1;
  grid-column-end: 3;
}

footer {
  margin: 0 3.5vw 3.5vh;
  align-self: flex-start;
}
a img {
  transition: 0.3s;
  width: 3.5rem;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 1rem rgba(5, 44, 66, 0.35),
    inset 0 0 0.2em rgba(5, 44, 66, 0.35);
}
a img:hover {
  margin: -0.25rem;
  box-shadow: 0 0 1rem rgba(75, 189, 255, 0.614),
    inset 0 0 0.2em rgba(59, 183, 255, 0.592);
  width: 4rem;
  height: auto;
}
