/* Glass */
div.calculator.glass {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2),
    rgba(47, 150, 208, 0.2)
  );
  backdrop-filter: blur(1rem);
  box-shadow: 0 0 1rem rgba(5, 44, 66, 0.35),
    inset 0 0 0.2em rgba(5, 44, 66, 0.35);
}
div.screen .history.glass {
  color: #484848;
}
div.screen .history.glass .operator {
  color: #f1f9ff;
}
div.screen .result.glass {
  color: #323232;
}
button.glass {
  background-color: rgba(47, 150, 208, 0.2);
  backdrop-filter: blur(0.3rem);
  box-shadow: 0 0 1rem rgba(5, 44, 66, 0.35),
    inset 0 0 0.2em rgba(5, 44, 66, 0.35);
}
button.glass:hover {
  box-shadow: 0 0 1.4rem rgba(151, 216, 253, 0.749),
    inset 0 0 0.8em rgba(142, 212, 252, 0.757);
}
button#ac.glass {
  color: #0569a3;
}
button#backspace.glass {
  color: #b011119c;
}
button#divide.glass,
button#multiply.glass,
button#minus.glass,
button#plus.glass {
  color: #0d5a86;
  background-color: #9ed4f1;
  box-shadow: 0 0 1rem #0a5f8d96, inset 0 0 0.2em #0a5f8d70;
}
button#equals.glass {
  color: white;
  background-color: #0a8cd7;
  box-shadow: 0 0 0.8rem #5fc4ff, inset 0 0 0.8em #5dc2fcf7;
}
button#divide.glass:hover,
button#multiply.glass:hover,
button#minus.glass:hover,
button#plus.glass:hover {
  color: #094669;
  box-shadow: 0 0 0.6rem rgba(170, 225, 255, 0.775),
    inset 0 0 0.6em rgba(170, 225, 255, 0.975);
}
button#equals.glass:hover {
  color: #0f537a;
  box-shadow: 0 0 1rem #ace0fe, inset 0 0 1em #bbe6fff7;
}

/* White */
div.calculator.white {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 1rem rgba(5, 44, 66, 0.35);
}
div.screen .history.white {
  color: #818181;
}
div.screen .history.white .operator {
  color: #24a5ff;
}
div.screen .result.white {
  color: #424242;
}
button.white {
  color: #38b9ff;
  background-color: rgba(255, 255, 255);
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(5, 44, 66, 0.137),
    inset 0 0 0 rgba(5, 44, 66, 0.137);
}
button.white:hover {
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(5, 44, 66, 0.137),
    inset 0 0 10rem rgba(106, 203, 255, 0.15);
}

button#ac.white {
  color: #858585;
}
button#backspace.white {
  color: #b0111197;
}
button#divide.white,
button#multiply.white,
button#minus.white,
button#plus.white {
  color: #109dff;
  background-color: #ade2ff;
}
button#equals.white {
  color: #b2daff;
  background-color: #19acff;
}
button#divide.white:hover,
button#multiply.white:hover,
button#minus.white:hover,
button#plus.white:hover {
  color: white;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(5, 44, 66, 0.137),
    inset 0 0 10rem rgba(17, 82, 120, 0.2);
}
button#equals.white:hover {
  color: #094669;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(5, 44, 66, 0.137),
    inset 0 0 10rem #3f9acf;
}


/* Black */
div.calculator.black {
  background: linear-gradient(191.34deg, #17181a -4.95%, #17181a 103.74%);
  box-shadow: 0 0 1rem rgba(4, 48, 76, 0.656);
}
div.screen .history.black {
  color: #aaa;
}
div.screen .history.black .operator {
  color: #24a5ff;
}
div.screen .result.black {
  color: #eee;
}
button.black {
  color: #29a8ff;
  background-color: #303136;
}
button.black:hover {
  box-shadow: inset 0 0 10em rgba(142, 212, 252, 0.257);
}
button#ac.black {
  color: #a5a5a5;
  background-color: #616161;
}
button#backspace.black {
  color: #d36d6dfe;
  background-color: #616161;
}
button#divide.black,
button#multiply.black,
button#minus.black,
button#plus.black {
  color: #339dff;
  background-color: #005db2;
}
button#equals.black {
  color: #b2daff;
  background-color: #1991ff;
}
button#ac.black:hover,
button#backspace.black:hover {
  box-shadow: inset 0 0 10em rgba(0, 0, 0, 0.357);
}
button#divide.black:hover,
button#multiply.black:hover,
button#minus.black:hover,
button#plus.black:hover,
button#equals.black:hover {
  color: #063753;
}
